<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CryptoCurrency Screener | Chart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lilita+One|Ubuntu&display=swap" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename = 'images/favicon1.png') }}" type="image/icon type">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/chart.css') }}">

</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('home') }}">CryptoScreener</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('chart_creator') }}">Screener</a></li>
                    <li><a href="{{ url_for('table_creator') }}">Stats</a></li>
                </ul>
            </div>
        </div>
    </nav>



    <br><br><br>
    <div class="container">
        <div class="row">
            <div style="float: left;">
                <h3 id="title">BITCOIN Price Chart</h3>
            </div>
            <div style="float: right;">
                <h5>Crypto Currencies: </h5><select id="cryptos">
                    <option value="" selected="selected">Select Crypto Currency</option>
                </select>
            </div>
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <canvas id="canvas"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--suppress JSUnresolvedLibraryURL -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <!--suppress JSUnresolvedLibraryURL -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!--suppress JSUnresolvedLibraryURL -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script>
        $(document).ready(function () {
            var name_obj = []
            var keys1 = []
            var sel = "k"
            var keys2 = []
            var api = "/api/chart-data2?crypto_name="


            $.getJSON("/api/chart-symbols1",
                function (data) {

                    keys1 = Object.keys(data)
                    j = 0
                    keys2 = Object.values(data)

                    var cryptoSel = document.getElementById("cryptos");
                    keys1.forEach(function (x) {
                        cryptoSel.options[cryptoSel.options.length] = new Option(keys2[j], x);
                        j++
                    })
                    cryptoSel.onchange = function () {
                        sel = this.value
                        sel2 = cryptoSel.options[cryptoSel.selectedIndex].text
                        if (sel2 !== "Select Crypto Currency") {

                            api2 = api + sel

                            lineChart.destroy()
                            clearInterval(set_inv)
                            clearInterval(set_inv2)
                            i = 0
                            d = []
                            p = []
                            flag = 0
                            var slt = 0
                            ct = 0
                            var count = 0

                            config.data.labels = []
                            config.data.datasets[0].data = []
                            context = document.getElementById('canvas').getContext('2d');
                            lineChart = new Chart(context, config);
                            $.getJSON(api2,
                                function (data) {
                                    ct = moment().format()
                                    ct_4 = moment(ct).format("LT").slice(0, -3)

                                    var dt = moment(ct).subtract(3, 'minutes').format("LT").slice(0, -3)

                                    $.each(data.prices, function (key, value) {
                                        var lt = moment(value.time).format("LT").slice(0, -3)
                                        if (lt === dt && flag === 0) {

                                            p.push(value.price)
                                            d.push(lt)
                                            flag = 1
                                            i++
                                            slt = moment(value.time).subtract(3, 'minutes').format("LT").slice(0, -3)

                                        }
                                        if (flag === 1 && lt === slt) {

                                            p.push(value.price)
                                            d.push(lt)
                                            i++
                                            slt = moment(value.time).subtract(3, 'minutes').format("LT").slice(0, -3)

                                        }
                                        if (i > 10) {

                                            config.data.labels = d.reverse()
                                            config.data.datasets[0].data = p
                                            lineChart.update();
                                            if (flag === 1) {
                                                $.getJSON("/api/chart",
                                                    function (data) {
                                                        count++
                                                        str1 = parseFloat(data[sel].split(",").join(""))
                                                        config.data.labels.shift();
                                                        config.data.datasets[0].data.shift();
                                                        config.data.labels.push(ct_4);
                                                        config.data.datasets[0].data.push(str1);
                                                        lineChart.update();
                                                        // p.push(data[sel])
                                                        // d.push(ct_2)
                                                        flag = 0
                                                        ct = moment(ct).add(3, 'minutes')
                                                    })
                                            }



                                            return false
                                        }



                                    })
                                })


                            document.getElementById('title').innerText = sel2.toUpperCase() + " Price Chart"
                            var set_inv2 = setInterval(function () {
                                continue_callback2()
                            }, 30000);

                        }

                    }

                })

            context = document.getElementById('canvas').getContext('2d');
            var gradient = context.createLinearGradient(0, 0, 0, 600);
            gradient.addColorStop(0, 'rgba(32, 226, 47, 0.5)');
            gradient.addColorStop(0.5, 'rgba(32, 226, 47, 0.3)');
            gradient.addColorStop(1, 'rgba(32, 226, 47, 0)');
            const config = {
                type: 'line',
                data: {
                    labels: [],
                    datasets: [{
                        label: "Live Price ($)",
                        // backgroundColor: 'rgb(75, 192, 192)',
                        // borderColor: 'rgb(75, 192, 192)',
                        data: [],
                        backgroundColor: gradient, // Put the gradient here as a fill color
                        borderColor: "rgba(32, 255, 47)",
                        pointBackgroundColor: "#fff",
                        pointBorderColor: "rgba(32, 255, 47)",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(32, 255, 47)",
                        fill: true,
                    }],
                },
                options: {
                    responsive: true,
                    legend: {
                        labels: {
                            fontColor: '#E1EFF9',
                            fontSize: 14,
                            fontFamily: "'Roboto Slab', sans-serif",
                        }
                    },
                    title: {
                        display: true,
                        text: 'Real-Time Cryptocurrency Trends Screener',
                        fontColor: "#E1EFF9",
                        fontSize: 18,
                        fontFamily: "'Roboto Slab', sans-serif",
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false,
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: true
                    },
                    scales: {
                        xAxes: [{
                            display: true,
                            gridLines: {
                                display: false,
                            },
                            scaleLabel: {
                                display: true,
                                labelString: 'Time in Min',
                                fontFamily: "'Roboto Slab', sans-serif",
                                fontColor: "#E1EFF9",
                                fontSize: 16

                            },
                            ticks: {
                                fontFamily: "'Roboto Slab', sans-serif",
                                fontColor: '#F0F3FA',
                                fontSize: 12
                            },
                        }],
                        yAxes: [{
                            display: true,
                            gridLines: {
                                display: true,
                                color: "#363C4E"
                            },
                            scaleLabel: {
                                display: true,
                                labelString: 'Price in $',
                                fontFamily: "'Roboto Slab', sans-serif",
                                fontColor: "#E1EFF9",
                                fontSize: 16
                            },
                            ticks: {
                                fontFamily: "'Roboto Slab', sans-serif",
                                fontColor: '#F0F3FA',
                                fontSize: 12
                            },
                        }]
                    }
                }
            };

            lineChart = new Chart(context, config);

            //     const source = new EventSource("/chart-data/{{crypto}}");

            //     source.onmessage = function (event) {
            //         const data = JSON.parse(event.data);
            //         if (config.data.labels.length === 20) {
            //             config.data.labels.shift();
            //             config.data.datasets[0].data.shift();
            //         }
            //         config.data.labels.push(data.time);
            //         config.data.datasets[0].data.push(data.value);
            //         lineChart.update();
            //     }
            i = 0
            d = []
            p = []
            flag = 0
            var slt = 0
            ct = 0
            var count = 0
            $.getJSON("/api/chart-data2?crypto_name=BTC",
                function (data) {

                    ct = moment().format()
                    ct_2 = moment(ct).format("LT").slice(0, -3)
                    dt = moment(ct).subtract(3, 'minutes').format("LT").slice(0, -3)

                    $.each(data.prices, function (key, value) {
                        var lt = moment(value.time).format("LT").slice(0, -3)

                        if (lt === dt && flag === 0) {
                            p.push(value.price)
                            d.push(lt)
                            flag = 1
                            i++
                            slt = moment(value.time).subtract(3, 'minutes').format("LT").slice(0, -3)

                        }
                        if (flag === 1 && lt === slt) {

                            p.push(value.price)
                            d.push(lt)
                            i++
                            slt = moment(value.time).subtract(3, 'minutes').format("LT").slice(0, -3)
                        }
                        if (i > 10) {

                            config.data.labels = d.reverse()
                            config.data.datasets[0].data = p
                            lineChart.update();
                            if (flag === 1) {
                                $.getJSON("/api/chart",
                                    function (data) {
                                        count++

                                        str1 = parseFloat(data.BTC.split(",").join(""))
                                        config.data.labels.shift();
                                        config.data.datasets[0].data.shift();
                                        config.data.labels.push(ct_2);
                                        config.data.datasets[0].data.push(str1);
                                        lineChart.update();
                                        flag = 0

                                        ct = moment(ct).add(3, 'minutes')
                                    })
                            }


                            return false
                        }



                    })
                })



            var set_inv = setInterval(function () {
                continue_callback()
            }, 30000);




            function continue_callback() {


                ct_2 = moment(ct).format("LT").slice(0, -3)

                if (flag === 0) {
                    ct_3 = moment().format("LT").slice(0, -3)

                    if (ct_3 === ct_2) {
                        $.getJSON("/api/chart",
                            function (data) {
                                count++

                                str1 = parseFloat(data.BTC.split(",").join(""))
                                config.data.labels.shift();
                                config.data.datasets[0].data.shift();
                                config.data.labels.push(ct_2);
                                config.data.datasets[0].data.push(str1);
                                lineChart.update();

                                flag = 0



                                ct = moment(ct).add(3, 'minutes')
                            })
                    }
                }
            }

            function continue_callback2() {
                ct_2 = moment(ct).format("LT").slice(0, -3)
                if (flag === 0) {
                    ct_3 = moment().format("LT").slice(0, -3)
                    if (ct_3 === ct_2) {
                        $.getJSON("/api/chart",
                            function (data) {
                                count++
                                str1 = parseFloat(data[sel].split(",").join(""))
                                config.data.labels.shift();
                                config.data.datasets[0].data.shift();
                                config.data.labels.push(ct_2);
                                config.data.datasets[0].data.push(str1);
                                lineChart.update();
                                flag = 0

                                ct = moment(ct).add(3, 'minutes')
                            })
                    }
                }


            }

        });

    </script>

    <br><br><br><br><br>
    <footer class="container-fluid text-center bg-grey">
        <a href="#myPage" title="To Top">
            <span class="glyphicon glyphicon-chevron-up"></span>
        </a>
        <p>© Copyright 2021 <a href="https://github.com/SaiJeevanPuchakayala/CryptoCurrency-Screener">CryptoCurrency
                Screener</a></p>
    </footer>

    <script>
        $(document).ready(function () {

            $(".navbar a, footer a[href='#myPage']").on('click', function (event) {

                if (this.hash !== "") {
                    event.preventDefault();


                    var hash = this.hash;


                    $('html, body').animate({
                        scrollTop: $(hash).offset().top
                    }, 900, function () {

                        window.location.hash = hash;
                    });
                }
            });

            $(window).scroll(function () {
                $(".slideanim").each(function () {
                    var pos = $(this).offset().top;

                    var winTop = $(window).scrollTop();
                    if (pos < winTop + 600) {
                        $(this).addClass("slide");
                    }
                });
            });
        })
    </script>
</body>

</html>