<!DOCTYPE html>
<html lang="en">
<head>
  <title>CryptoCurrency Screener | Table</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Lilita+One|Ubuntu&display=swap" rel="stylesheet">
  <link rel="icon" href="{{ url_for('static', filename = 'images/favicon1.png') }}" type="image/icon type">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/table.css') }}">
</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

<script>
    function chooseColour(price) {
        if (price >= 0) {
            return "textGreen";
        } else {
            return "textRed";
        }
    }
</script>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="{{ url_for('home') }}">CryptoScreener</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('chart_creator') }}">Screener</a></li>
        <li><a href="{{ url_for('table_creator') }}">Stats</a></li>
        </ul>
    </div>
    </div>
</nav>

<div class="jumbotron text-center">
    <h3>Top 25 CryptoCurrencies By Market Cap</h3> 
</div>


<!-- (Table Section) -->
<div class="container-fluid">
    <div class="table-responsive">
        <table class="table table-borderless">
            <thead style="background-color: rgb(183, 200, 218);color:black;">
                <tr>
                    <th scope="col">Symbol</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price ($)
                    </th>
                    <th scope="col">Change ($)</th>
                    <th scope="col">Change %</th>
                    <th scope="col">Market Cap ($)</th>
                </tr>
            </thead>
            <tbody id='table'>
            <div id="loader" class="loader">
            <script>
                window.onload= refresh
    
                function refresh(){
                    
                    $.getJSON("/api/table", 
                        function (data) {
                        var cryptos = '';
    
                        $.each(data, function (key, value) {
    
                            cryptos += '<tr>';
                            cryptos += '<td>' + 
                                '<img src='+value.symbol+'>' + '</td>';
    
                            cryptos += '<td>' + 
                                value.name + '</td>';

                            cryptos += '<td>' + 
                                value.price + '</td>';

                            cryptos += '<td class=' + chooseColour(value.chg) +'>' + 
                                value.chg + '</td>'; 

                            cryptos += '<td class=' + chooseColour((value.chg_per).slice(0,-1)) +'>' + 
                                value.chg_per + '</td>';    
                                
                            cryptos += '<td>' + 
                                value.market_cap + '</td>';

                            cryptos += '</tr>';
    
                        });
                        document.getElementById("loader").style.visibility = "hidden";
                        $('#table').append(cryptos);
                    });
                }

                setInterval(function()
                    {
                        refresh2()
                    }, 5000);
                ;


               function refresh2(){
                    $.getJSON("/api/table", 
                            function (data) {
                        
                        var i=0       
                        $.each(data, function (key, value) {
                            var x = document.getElementById('table')
                            var y = x.rows.item(i).cells
                            y.item(2).innerHTML = value.symbol
                            y.item(2).innerHTML = value.name
                            y.item(2).innerHTML = value.price
                            y.item(3).innerHTML = value.chg
                            y.item(4).innerHTML = value.chg_per
                            y.item(5).innerHTML = value.market_cap
                            i++
                            

                        })
                    })
                }
            </script>
            </div>
            </tbody>
        </table>
    </div>
</div>
<!-- (Table Section) -->



<footer class="container-fluid text-center bg-grey">
    <a href="#myPage" title="To Top">
    <span class="glyphicon glyphicon-chevron-up"></span>
    </a>
    <p>© Copyright 2021 <a href="#">CryptoCurrency Screener</a></p>
</footer>


<script>
$(document).ready(function(){

    $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
    if (this.hash !== "") {

        event.preventDefault();

        var hash = this.hash;

        $('html, body').animate({
        scrollTop: $(hash).offset().top
        }, 900, function(){
    

        window.location.hash = hash;
        });
    } 
    });
    
    $(window).scroll(function() {
    $(".slideanim").each(function(){
        var pos = $(this).offset().top;

        var winTop = $(window).scrollTop();
        if (pos < winTop + 600) {
            $(this).addClass("slide");
        }
    });
    });
})
</script>

</body>
</html>
    