<!DOCTYPE html>
<html lang="en">
<head>
  <title>CryptoCurrency Screener | Table</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Lilita+One|Ubuntu&display=swap" rel="stylesheet">
  <link rel="icon" href="{{ url_for('static', filename = 'images/favicon1.png') }}" type="image/icon type">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/table.css') }}">

  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

  <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>

  <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap.min.js"></script>


  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap.min.css">

  <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap.min.css">


  <script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
  <script src="https://cdn.datatables.net/responsive/2.2.9/js/responsive.bootstrap.min.js"></script>
  <script src="https://cdn.datatables.net/fixedcolumns/3.3.3/js/dataTables.fixedColumns.min.js"></script>
</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="{{ url_for('home') }}">CryptoScreener</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('chart_creator') }}">Screener</a></li>
        <li><a href="{{ url_for('table_creator') }}">Stats</a></li>
        </ul>
    </div>
    </div>
</nav>

<div class="jumbotron text-center">
    <h3>Top 100 CryptoCurrencies By Latest Price</h3> 
</div>


<!-- (Table Section) -->
<div class="container-fluid">
        <table id="example" class="table row-border nowrap" style="width: 100%;">
            <thead style="background-color: rgb(183, 200, 218);color:black;">
                <tr>
                    <th></th>
                    <th>Symbol</th>
                    <th>Name</th>
                    <th>Price ($)
                    </th>
                    <th>Change ($)</th>
                    <th>Change %</th>
                    <th>Market Cap ($)</th>
                </tr>
            </thead>
        </table>
</div>
<!-- (Table Section) -->

<script>
$(document).ready(function() {
    $('#example').DataTable({
        "responsive": true,
        "bPaginate": true,
        "info":false,
    "bLengthChange": false,
        "lengthMenu": [25, 50, 75, 100],
        "pageLength": 25,
        "order": [[ 3, "desc" ]],
        "ajax": {
            "url": "api/table",
            "dataSrc": ""
        },


        "columns": [
            { "data": "icon",
            "render": function(data, type, row) {
        return '<img src="'+data+'" />';
    } },
            { "data": "symbol",
            render: function ( data, type, row ) {
        return '<a target="_blank" href="/overview/'+data+'" />'+data.replace(/[0-9]/g, "")+'</a>';
    } },
            { "data": "name" },
            { "data": "price" },
            { "data": "chg" },
            { "data": "chg_per" },
            { "data": "market_cap" }
        ],


        "columnDefs": [ {
            "targets": [-2,-3],
            "createdCell": function (td, cellData, rowData, row, col) {
            if ( cellData.replace(",","") >= 0 ) {
                $(td).css('color', 'rgb(47, 255, 82)')
            }
            else {
                $(td).css('color', 'rgb(255, 24, 24)')
            }
                }
        } ],


        });

        
setInterval( function () {
    $('#example').DataTable().ajax.reload(null, false);
}, 10000 );


} );

// setInterval( function () {
//     $('#example').DataTable().ajax.reload(null, false);
// }, 5000 );
</script>




<footer class="container-fluid text-center bg-grey">
    <a href="#myPage" title="To Top">
    <span class="glyphicon glyphicon-chevron-up"></span>
    </a>
    <p>© Copyright 2021 <a href="https://github.com/SaiJeevanPuchakayala/CryptoCurrency-Screener">CryptoCurrency Screener</a></p>
</footer>


<script>
$(document).ready(function(){

    $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
    if (this.hash !== "") {

        event.preventDefault();

        var hash = this.hash;

        $('html, body').animate({
        scrollTop: $(hash).offset().top
        }, 900, function(){
    

        window.location.hash = hash;
        });
    } 
    });
    
    $(window).scroll(function() {
    $(".slideanim").each(function(){
        var pos = $(this).offset().top;

        var winTop = $(window).scrollTop();
        if (pos < winTop + 600) {
            $(this).addClass("slide");
        }
    });
    });
})
</script>

</body>
</html>
    
